.container {
  position: relative;
  width: 800px;
  height: fit-content;
  min-height: 404px;
  border-radius: 12px;
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.68);
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: flex-start;

}

.headerContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: aliceblue;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
}
